Repository lucasvtiradentes/boilermanager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:sparkles: feature: add flag to use an alt download strategy (#45)
  README.md
  package.json
  src/configs/configs.ts
  src/index.ts
  src/strategies/downloadGithubFolder/gitCloneStrategy.ts
Due: prettier --write

:bookmark: tags: new version release 1.7.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  de822929860fb1d6542086b4d5a026156f1e3ac9
Due: none

:memo: docs: update documentation to include go-boilerplates
  README.md
  src/configs/configs.ts
Due: none

:bookmark: tags: new version release 1.7.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5b88d048b2606ec1c454d000275cb97d9b88724d
Due: none

:wrench: config: update general project config files
  .eslintignore
  .github/FUNDING.yml
  .github/workflows/ci-cd.yml
  .github/workflows/node-ci.yml
  .github/workflows/publish-npm-package.yml
  .husky/pre-push
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  commitlint.config.js
  docs/CONTRIBUTING.md
  docs/FAQ.MD
  package.json
  release.config.js
  scripts/github-issues.ts
  scripts/gitmoji-setup.ts
  tests/main.spec.ts
Due: prettier --write, eslint --fix

:memo: docs: make the documentation shorter (#46)
  .github/workflows/ci-cd.yml
  README.md
Due: none

:bookmark: tags: new version release 1.7.2 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7c81ca67f637ee8778db29d2bc65f3b4d52c78f5
Due: none

:construction_worker: ci: catch error on ci due to api rate limiting
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js, jsx, ts, tsx}) or (any of: *.{json, md, html, css, scss, yaml})
  eslint --fix: any of: *.{js, jsx, ts, tsx}
