Repository lucasvtiradentes/boilermanager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:art: codestyle: add strategy design pattern to boilerplate handling (#16)
  .github/FUNDING.yml
  .github/README.md
  package.json
  scripts/test-commands.sh
  src/configs/configs.ts
  src/entities/BoilerplateHandler.ts
  src/entities/BoilerplateItem.ts
  src/entities/BoilerplatesHandler.ts
  src/entities/RuntimeSettings.ts
  src/index.ts
  src/interaction/select-boilerplate.ts
  src/interaction/star-boilerplates.ts
  src/models/DownloadRepositoryFolder.ts
  src/models/GithubBoilerplate.ts
  src/models/PathBoilerplate.ts
  src/utils/download-github-repository-folder.ts
  src/utils/fs-utils.ts
  tsconfig.json
Due: prettier --write

:sparkles: feature: add ci-cd npm package publish (#9)
  .github/workflows/publish-npm-package.yml
  .gitignore
  .npmignore
  .prettierignore
  .releaserc
  package.json
Due: prettier --write

:bug: bugfix: fix integration between eslint and prettier (#10)
  .czrc
  .editorconfig
  .eslintignore
  .eslintrc
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc.json
  package.json
  src/index.ts
  tsconfig.json
Due: prettier --write

:white_check_mark: tests: add tests setup with jest (#11)
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-push
  .lintstagedrc
  .npmignore
  .prettierignore
  jest.config.js
  package.json
  tests/sum.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

:memo: docs: move readme to root to work with npm (#17)
  .github/ISSUE_TEMPLATE/00-bug-issue.md
  .github/ISSUE_TEMPLATE/10-build-installation-issue.md
  .github/ISSUE_TEMPLATE/20-documentation-issue.md
  .github/ISSUE_TEMPLATE/30-feature-request.md
  .github/ISSUE_TEMPLATE/40-tflite-op-request.md
  .github/ISSUE_TEMPLATE/50-other-issues.md
  .github/ISSUE_TEMPLATE/60-tflite-converter-issue.md
  .github/ISSUE_TEMPLATE/70-tflite-micro-issue.md
  .github/ISSUE_TEMPLATE/80-performance-issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  package.json
Due: prettier --write

:bug: bugfix: add support to emoji-commits in semantic-release (#18)
  .commitlintrc
  .czrc
  .releaserc
  README.md
  package.json
  release.config.js
  scripts/gitmoji-utils.ts
  scripts/update-commits-configs.ts
  src/entities/BoilerplateHandler.ts
  src/index.ts
  src/interaction/select-boilerplate.ts
  src/utils/fs-utils.ts
Due: prettier --write, eslint --fix

:memo: docs: update changelog files 1.0.0 [skip ci]
  .github/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  086faa935f0aaee7450f3b4b6b1ea3f301e02620
Due: none

:wrench: config: update issues templates (#20)
  .czrc
  .eslintrc.json
  .github/ISSUE_TEMPLATE/00-bug-issue.md
  .github/ISSUE_TEMPLATE/10-build-installation-issue.md
  .github/ISSUE_TEMPLATE/20-documentation-issue.md
  .github/ISSUE_TEMPLATE/30-feature-request.md
  .github/ISSUE_TEMPLATE/40-tflite-op-request.md
  .github/ISSUE_TEMPLATE/50-other-issues.md
  .github/ISSUE_TEMPLATE/60-tflite-converter-issue.md
  .github/ISSUE_TEMPLATE/70-tflite-micro-issue.md
  .github/ISSUE_TEMPLATE/80-performance-issue.md
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/bugreport.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  .github/images/giphy.webp
  .github/images/img.png
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/CHANGELOG.MD
  docs/CONTRIBUTING.md
  docs/FAQ.MD
  package.json
  release.config.js
  scripts/github-issues-util.ts
  scripts/gitmoji-util.ts
  scripts/show-all-open-issues.ts
  tests/test-commands.sh
Due: prettier --write, eslint --fix

:memo: docs: update changelog files 1.0.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8694c92842cfb17151fcc798e8c6c3d61e2e4133
Due: none

:bug: bugfix: fix package husky bug (#19)
  .eslintignore
  .github/ISSUE_TEMPLATE/1-FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/2-BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/3-OTHER-ISSUE.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/bugreport.yml
  .github/ISSUE_TEMPLATE/config.yml
  .npmignore
  .prettierignore
  README.md
  package.json
  src/entities/BoilerplateHandler.ts
  src/index.ts
  src/utils/fs-utils.ts
Due: prettier --write

:memo: docs: update changelog files 1.0.2 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  03415bcdf5459344e80998d688bd5417695e5ed7
Due: none

Notes added by 'git notes add'
  3460b98997627ad371c6ca703548ee1425df144d
Due: none

:sparkles: feature: get package details from package.json (#22)
  .github/ISSUE_TEMPLATE/1-FEATURE-REQUEST.yml
  docs/CHANGELOG.MD
  package.json
  src/configs/configs.ts
  src/utils/read-json.ts
  tests/test-commands.sh
Due: prettier --write

:memo: docs: update changelog files 1.1.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  371f7f374e20c8708aeff30da444892e5b4701eb
Due: none

:white_check_mark: tests: add basic unit testing (#23)
  package.json
  tests/sum.spec.ts
Due: prettier --write

:memo: docs: update changelog files 1.1.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6d1cdfdf37430d62879c599c0293b9a4483c761a
Due: none

:bug: bugfix: fix error when reading package.json in production (#24)
  src/configs/configs.ts
Due: none

:memo: docs: update changelog files 1.1.2 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c85015ebdc0061de6788ade0b471e1fb3e07ac1f
Due: none

:sparkles: feature: add unix support
  src/index.ts
Due: none

:memo: docs: update changelog files 1.2.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  979dce638de72bbc1bde4ac60adc83a1cd1c11ad
Due: none

:bug: bugfix: error when choosing boilerplate (#26)
  docs/CHANGELOG.MD
  package.json
  src/utils/download-github-repository-folder.ts
Due: prettier --write

:memo: docs: update changelog files 1.2.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f89b8c66cfd7e79e4644edcc4379d2d3aeb6b569
Due: none

:bug: bugfix: move repository to new location (#27)
  src/configs/configs.ts
  src/entities/BoilerplateHandler.ts
  tsconfig.json
Due: prettier --write

:memo: docs: update changelog files 1.2.2 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3861a05d28c2b7992abe09d14bc7338dd7d4fc96
Due: none

:memo: docs: update documentation (#28)
  LICENSE
  README.md
  package.json
  src/index.ts
Due: prettier --write

:memo: docs: update changelog files 1.2.3 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f1267db4e03843a27e14df2b571e95874d523136
Due: none

:memo: docs: update changelog files 1.2.4 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8df78cce44132fa38a055c2ab84406c62c2700f1
Due: none

:bug: bugfix: update some basic testing (#30)
  tests/sum.spec.ts
Due: none

Path conditions:
  prettier --write: (any of: *.{js, jsx, ts, tsx}) or (any of: *.{json, md, html, css, scss, yaml})
  eslint --fix: any of: *.{js, jsx, ts, tsx}
