Repository lucasvtiradentes/boilermanager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:memo: docs: update changelog files 1.2.5 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  554050c4943aa74a016fded677c9e171e14778e2
Due: none

:sparkles: feature: add autoupdate support (#31)
  package.json
  src/configs/configs.ts
  src/index.ts
Due: prettier --write

:memo: docs: update changelog files 1.3.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6123aed6dedfcf6069b0277a50f3db3cd34878da
Due: none

:bug: bugfix: add basic unit tests (#32)
  tests/sum.spec.ts
Due: none

:memo: docs: update changelog files 1.3.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ffd07c37511f6903c3b1fb69f383017a62f13ed1
Due: none

:bug: bugfix: error when autoupdating (#33)
  README.md
  src/index.ts
Due: none

:memo: docs: update changelog files 1.3.2 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0e1d5f1dfec9c5a3fc1de22a0adaddd0cd53cd81
Due: none

:bug: bugfix: error in detect updates (#33)
  README.md
  src/index.ts
  tests/sum.spec.ts
Due: none

:memo: docs: update changelog files 1.3.3 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b10d28dd2f74247aea05768d937dbe9281c1ad3f
Due: none

:bug: bugfix: bug related to searching new version (#33)
  src/index.ts
Due: none

:memo: docs: update changelog files 1.3.4 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5d4625beeaa6ba317d905bbe27b4227c16d49ab0
Due: none

:sparkles: feature: add search in boilerplate list (#34)
  .commitlintrc
  .czrc
  commitlint.config.js
  package.json
  scripts/github-issues.ts
  scripts/gitmoji-setup.ts
  src/configs/configs.ts
  src/entities/BoilerplateHandler.ts
  src/entities/BoilerplateItem.ts
  src/entities/RuntimeSettings.ts
  src/index.ts
  src/interaction/manage-starred-boilerplates.ts
  src/interaction/select-boilerplate.ts
  src/interaction/star-boilerplates.ts
  src/strategies/BoilerplateHandler.ts
  src/strategies/GithubStrategy.ts
  src/strategies/PathStrategy.ts
  src/types/Boilerplate.ts
  src/types/BoilerplateStrategy.ts
  src/types/RuntimeSettings.ts
  src/utils/logger.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add local folder strategy (#6)
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/1-FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/2-BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/3-OTHER-ISSUE.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  package.json
  release.config.js
  scripts/gitmoji-setup.ts
  src/configs/configs.ts
  src/entities/BoilerplateHandler.ts
  src/entities/GithubStrategy.ts
  src/entities/PathStrategy.ts
  src/index.ts
  src/strategies/GithubStrategy.ts
  src/strategies/PathStrategy.ts
  src/types/BoilerplateStrategy.ts
  src/types/RuntimeSettings.ts
  src/utils/download-github-repository-folder.ts
  src/utils/fs-utils.ts
Due: prettier --write, eslint --fix

:memo: docs: update readme documentation (#35)
  README.md
  package.json
  src/configs/configs.ts
  tests/test-commands.sh
Due: prettier --write

:bookmark: tags: new version release 1.4.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2b38e82857c48ae5a61958e1b359ab1d83f7707a
Due: none

:bug: bugfix: auto update feature (#36)
  .github/images/repo_banner_2428_332.png
  README.md
  package.json
  src/entities/GithubStrategy.ts
  src/entities/PathStrategy.ts
  src/index.ts
Due: prettier --write

:bookmark: tags: new version release 1.4.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f4d316c0d58000b9900b0b128afad6db0ce9186d
Due: none

:sparkles: feature: add way to handle customizable boilerplates (#13)
  .eslintignore
  .npmignore
  .prettierignore
  package.json
  src/entities/GithubStrategy.ts
  src/entities/PathStrategy.ts
  src/index.ts
  src/types/Boilerplate.ts
  src/utils/fs-utils.ts
Due: prettier --write

:recycle: refactor: update methods to use purged `boilerplates.json` (#37)
  commitlint.config.js
  package.json
  src/entities/BoilerplateHandler.ts
  src/entities/GithubStrategy.ts
  src/entities/PathStrategy.ts
  src/index.ts
  src/types/Boilerplate.ts
  src/utils/download-github-repository-folder.ts
Due: prettier --write, eslint --fix

:art: codestyle: add strategy pattern to download github folder (#38)
  package.json
  src/configs/configs.ts
  src/entities/BoilerplateHandler.ts
  src/entities/GithubStrategy.ts
  src/entities/PathStrategy.ts
  src/index.ts
  src/strategies/boilerplateHandler/BoilerplateHandler.ts
  src/strategies/boilerplateHandler/GithubStrategy.ts
  src/strategies/boilerplateHandler/PathStrategy.ts
  src/strategies/downloadGithubFolder/DownloadGithubFolderHandler.ts
  src/strategies/downloadGithubFolder/gitCloneStrategy.ts
  src/strategies/downloadGithubFolder/githubApiStrategy.ts
  src/types/BoilerplateStrategy.ts
  src/types/GithubItem.ts
  src/types/RuntimeSettings.ts
  src/utils/download-github-repository-folder.ts
  src/utils/error-handler.ts
  src/utils/fs-utils.ts
Due: prettier --write

:construction_worker: ci: update ci-cd workflows (#39)
  .github/workflows/node-ci.yml
  .github/workflows/publish-npm-package.yml
  package.json
  src/types/Boilerplate.ts
Due: prettier --write

:bookmark: tags: new version release 1.5.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7476d3771cd0bdf7080ca88910881a877ae53f8
Due: none

:white_check_mark: tests: auto-update feature in production (#40)
  .github/workflows/node-ci.yml
  README.md
  src/index.ts
Due: none

:bookmark: tags: new version release 1.5.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bbf118e81069756154c93b6b11b7059f7218483d
Due: none

:sparkles: feature: add schema validation with zod (#41)
  README.md
  package.json
  src/index.ts
  src/strategies/boilerplateHandler/BoilerplateHandler.ts
  src/types/Boilerplate.ts
  src/types/RuntimeSettings.ts
Due: prettier --write

:bookmark: tags: new version release 1.6.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  18166897b56bc1ae05f513fb57d3081b6becbeb1
Due: none

:bug: bugfix: fix long terminal texts (#42)
  src/index.ts
Due: none

:bookmark: tags: new version release 1.6.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  adab452d9465b6b1ae64ddd4df4abce48a0504f8
Due: none

Path conditions:
  prettier --write: (any of: *.{js, jsx, ts, tsx}) or (any of: *.{json, md, html, css, scss, yaml})
  eslint --fix: any of: *.{js, jsx, ts, tsx}
